/* 全局和伪根变量 */
* {
    box-sizing: border-box;
    margin:0;
}

:root {
    --main-color: rgb(250, 155, 75);
    --main-color-light: rgb(250, 155, 75, 0.8);
    --link-color: rgb(250, 155, 75);
    --background-color: rgba(250, 250, 250, 0.9);
    --black-color: #111;
    --grey-color: rgba(110, 110, 110, 0.5);
    --gradient-color: rgb(73, 156, 204, 0.9);
    --blue-color: rgb(73, 156, 204);
    animation: gradientChange 2s infinite alternate;
}
@keyframes gradientChange {
    25% {
        --gradient-color: rgb(73, 156, 204, 0.7);
    }
    50% {
        --gradient-color: rgb(73, 156, 204, 0.5);
    }
    75% {
        --gradient-color: rgb(73, 156, 204, 0.7);
    }
    100% {
        --gradient-color: rgb(73, 156, 204, 0.9);
    }
}

/* 基础字体和背景显示设置 */
body {
    color: var(--black-color);
    background-color: var(--background-color);
    margin: 0;
    font: 400 16px/1.5 Lato, "PingFang SC", "Microsoft YaHei", sans-serif, 
    "Times New Roman", Times, serif;
    /* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol"; */
}

a {
    color: var(--link-color);
}

.Upper {
    text-transform:capitalize;
}

/* 视觉编排 */
/* header部分 */
/* 移动端二维码 */
#QR-code {
    position:absolute;
    top: 356px;
    left:1rem;
    margin:0;
    padding:0;
}
#QR-code img {
    width:4rem;
    height:4rem;
}
#QR-code p {
    color:rgb(73, 156, 204, 0.9);
    font-weight: bold;
    text-align:center;

}

/* 固定主页头 */
.page-header {
    /* border-bottom: 30px rgb(253, 3, 3); */
    position:sticky;
    top:0;
    z-index:1;
    /* margin-bottom: 1rem; */
}
.page-header > * {
    color: #fff
}

.ph-band {
    display: block;
    height: 5px;
    background-color: rgb(0,16,60);
}
.gradient-div {
    background-image: linear-gradient(rgb(250,250,250),rgb(250,250,250,0));
    height: 1rem;
    width: 100%;
}
/* https://picsum.photos/960/250 */
.ph-img {
    background-image: url(header-img.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 3rem;
    height: 320px;
    width: 100%;
    border-bottom: 2rem solid rgb(250,250,250);
    /* max-height: initial; */
}
.ph-img div div:first-child {
    text-align: center;
    padding:0 40px;
}
.ph-title {
    /* margin: 0; */
    /* padding:0 40px; */
    display:flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
/* 页头导航栏 */
.ph-nav {
    line-height: 1.5;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    height: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex:1;
    position: relative;
    align-items: center;
    background-color:rgb(73, 156, 204, 0.5);
    border-radius: 5px;
    /* margin-bottom: 1rem; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    max-width:100%;
}
li {
    display: inline;
    border-right: 2px solid rgb(31, 80, 121);
}
li:last-child {
    border-right:none;
}
li a:hover {
    background-color: rgb(36, 36, 36,0.8);
}

.ph-nav a {
    padding: 1px 1rem;
    text-decoration:none;
    /* margin-top: 1px;
    margin-bottom: 1px; */
    /* font-size: 100%; */
}
/* 页头标题和文字 */
.Von {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    font-weight: 200;
    font-family:"Times New Roman", Times, serif;
    color:rgba(233, 248, 255, 0.75);
    /* font-stretch: 500%; */
    /* padding: 0 40px; */
}
.Von-sentence {
    /* margin: 0 0; */
    margin-top: 3px;
    font-size: 100%;
}

/* article部分 */
article {
    margin-top: 1rem;
    position: relative;
}

/* .article-header > * {
    text-align: center;
    /* padding-left: auto;
    padding-right: auto; */
.article-header, section > div, footer {
    margin-bottom: 3rem;
}

.titles {
    background-color: rgb(250,250,250,0.8);
    color: var(--main-color);
    border-bottom: 6px dotted var(--gradient-color);
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:2.5rem;
    padding-bottom: 1rem;
    font-size: 140%;
    font-style: italic;
}
.titles p {
    margin: 0;
    padding-top: 2px;
    font-size: 75%;
    color: var(--main-color-light);
}

#intro * {
    margin-left: auto;
    margin-right: auto;
}
#intro > p {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: left;
    width:60%;
    text-indent: 4ch;
}
.intro-base {
    display: flex;
    flex-direction: column;
    width:50%;
    /* margin-top: 3rem; */
    /* margin-bottom: 1rem; */
}
.intro-base div {
    margin:0 0;
    padding: 0 0 1rem;
}
.intro-base div p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 120%;
    position: relative;
}
/* .intro-base div p:nth-child(1) {
    font-weight: bold; */
/* } */
#into-img {
    max-width: 100%;
    max-height: auto;
}

#skill > div {
    display: flex;
    flex-direction: row;
}

section img {
    /* padding:1rem; */
    /* border:3px solid #555;
    border-radius: 2px; */
    max-width: 100%;
    max-height:auto;
    min-width: 50%;
    min-height: 50%;
}
/* skill技能点图片管理部分 */
/* #skill {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; */
    /* align-items: center;
    justify-content: space-between;
} */
#skill-points {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:auto;
    margin-right:auto;
    max-width: 75%;
    justify-content:center;
    align-items: center;
    padding-bottom: 1rem;
    position: relative;
    /* flex-basis: 100%; */
}
/* .skill-row {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin:1rem;
    flex-basis:100%;
} */
.skill-points {
    flex: 1;
    margin-bottom: 1rem;
}
.skill-points img {
    /* max-width: 30%; */
    max-width:3rem;
    max-height:3rem;
}
/* .skill-points {
    display: block;
    width:5rem;
    height:5rem;
}
#skill01 {
    background-image: url(\img\icons\draw.svg);
    background-size:cover;
} */
#skill-1 img{
    max-width: 2.5rem;
    max-height:2.5rem;
}
#skill-2 img{
    max-width:2.7rem;
    max-height:2.7rem;
}
#skill-5 img, #skill-6 img{
    max-width:4rem;
    max-height:4rem;
}

/* 网页article的footer  contact部分 */
#contact-container {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin-left: auto;
    margin-right:auto;
    align-items: center;
    justify-content: center;
}
#contact-container div {
    width: 30%;
    text-align: center;
    margin-bottom: 1rem;
}
#contact-container img {
    width: 2rem;
    height: 2rem;
    margin-bottom: 8px;
}
#contact-container p {
    font-size:50%;
}
.contact-info {
    color: var(--blue-color);
    font-size:50%;
}

/* 网页footer部分 */
.page-footer {
    margin-top: 5rem;
    margin-bottom: 0;
}
.page-footer div {
    display:block;
    width: 100%;
    height:3rem;
    border-top: 2px solid rgb(226, 226, 226);
    background-color: rgb(243, 243, 243);
    text-align: center;
}
.page-footer p {
    padding-bottom: 5px;
    text-align: center;
    color: var(--grey-color);
}

/* 通用部分 */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding:0 2rem;
    max-width: 75%;
}
.wrapper * {
    text-align: center;
}

.en {
    font-size: 80%;
    font-weight: bold;
    display:block;
    margin-top: 5px;
}

#works-list, #novels-list, #CG-list {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-wrap: wrap;
}
/* 动画和滚动页面 */
#works-list div, #novels-list div, #CG-list div {
    /* width:23%; */
    padding:0 1rem;
    transition: all .2s ease-out;
    align-items: center;
}
#works-list img, #novels-list img, #CG-list img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 1rem;
}
#works-list div:hover, #novels-list div:hover, #CG-list div:hover {
    transform: scale(1.1);
}

#Link-intro:target, 
#Link-skill:target,
#Link-works:target, 
#Link-novels:target, 
#Link-CG:target, 
#Link-Cont:target {
    padding-top: 356px;
}

.item-title {
    font-size: 16px;
    background-color: rgb(73, 156, 204, 0.25);
    width: fit-content;
    margin-left:auto;
    margin-right:auto;
    margin-top:1rem;
    padding: 0 8px;
    border-radius: 3px;
    font-weight: light;
    color:var(--blue-color);
}
.item-description {
    font-size: 50%;
    text-align: left;
    text-indent: 4ch;
    padding-top: 8px;
    width:75%;
    margin-left:auto;
    margin-right:auto;
    /* color:red; */
}

.screen-resp {
    width: 23%;
    margin-bottom: 1rem;
}
/* 屏幕尺寸缩放适配 */
@media screen and (max-width:1000px) {
    .screen-resp {
        width:45%;
    }
}

@media screen and (max-width:530px) {
    .screen-resp {
        width:90%;
    }
}

@media screen and (max-width:770px) {
    .screen-resp-sentence {
        font-size: 75%;
    }
    .screen-resp-nav {
        font-size:50%;
    }
}

@media screen and (max-width:600px) {
    /* .screen-resp-nav {
        font-size: 30%;
    } */
    .screen-resp-nav-width {
        max-width: 216px;
        height:max-content;
    }
}

@media screen and (max-width:1050px) {
    #contact-container {
        flex-direction: column;
    }
    .skill-points {
        flex: 0 0 22%;
    }
    .skill-points img {
        max-width: 2rem;
        max-height: 2rem;
    }
    #skill-5 img, #skill-6 img {
        max-width:2.4rem;
        max-height:2.4rem;
    }
    #skill-1 img {
        max-width:1.6rem;
        max-height:1.6rem;
    }
    #skill-2 img {
        max-width:1.8rem;
        max-height:1.8rem;
    }
}