* {
    box-sizing: border-box;
    margin:0;
}

:root {
    --main-color: rgb(250, 155, 75);
    --main-color-light: rgb(250, 155, 75, 0.8);
    --link-color: rgb(250, 155, 75);
    --background-color: rgba(250, 250, 250, 0.9);
    --black-color: #111;
    --grey-color: rgba(110, 110, 110, 0.5);
    --gradient-color: rgb(73, 156, 204, 0.9);
    animation: gradientChange 2s infinite alternate;
}
@keyframes gradientChange {
    25% {
        --gradient-color: rgb(73, 156, 204, 0.7);
    }
    50% {
        --gradient-color: rgb(73, 156, 204, 0.5);
    }
    75% {
        --gradient-color: rgb(73, 156, 204, 0.7);
    }
    100% {
        --gradient-color: rgb(73, 156, 204, 0.9);
    }
}

/* 基础字体和背景显示设置 */
body {
    color: var(--black-color);
    background-color: var(--background-color);
    margin: 0;
    font: 400 16px/1.5 Lato, "PingFang SC", "Microsoft YaHei", sans-serif, 
    "Times New Roman", Times, serif;
    /* -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol"; */
}

a {
    color: var(--link-color);
}

.Upper {
    text-transform:capitalize;
}

/* 视觉编排 */
/* header部分 */
.page-header {
    /* border-bottom: 30px rgb(253, 3, 3); */
    position:sticky;
    top:0;
    z-index:1;
    /* margin-bottom: 1rem; */
}
.page-header > * {
    color: #fff
}

.ph-band {
    display: block;
    height: 5px;
    background-color: rgb(0,16,60);
}
/* https://picsum.photos/960/250 */
.ph-img {
    background-image: url(header-img.gif);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 3rem;
    height: 320px;
    width: 100%;
    border-bottom: 3rem solid rgb(250,250,250);
    /* max-height: initial; */
}
.ph-img div div:first-child {
    text-align: center;
    padding:0 40px;
}
.ph-title {
    /* margin: 0; */
    /* padding:0 40px; */
    display:flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.ph-nav {
    line-height: 1.5;
    padding: 0 0;
    margin-left: auto;
    margin-right: auto;
    max-width: max-content;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color:rgb(73, 156, 204, 0.5);
    border-radius: 5px;
    /* margin-bottom: 1rem; */
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    border-right: 2px solid rgb(31, 80, 121);
}
li:last-child {
    border-right:none;
}
li a:hover {
    background-color: rgb(36, 36, 36,0.8);
}

.ph-nav a {
    padding:0 1rem;
    text-decoration:none;
    font-size: 100%;
}
.Von {
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 3.5em;
    font-weight: 200;
    font-family:"Times New Roman", Times, serif;
    color:rgba(233, 248, 255, 0.75);
    /* font-stretch: 500%; */
    /* padding: 0 40px; */
}
.Von-sentence {
    /* margin: 0 0; */
    margin-top: 3px;
}

/* article部分 */
article {
    margin-top: 1rem;
    position: relative;
}

/* .article-header > * {
    text-align: center;
    /* padding-left: auto;
    padding-right: auto; */
.article-header, section > div, footer {
    margin-bottom: 3rem;
}

.titles {
    background-color: rgb(250,250,250,0.8);
    color: var(--main-color);
    border-bottom: 6px dotted var(--gradient-color);
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:3rem;
    padding-bottom: 1rem;
    font-size: 140%;
    font-style: italic;
}
.titles p {
    margin: 0;
    padding-top: 2px;
    font-size: 75%;
    color: var(--main-color-light);
}

#intro * {
    margin-left: auto;
    margin-right: auto;
}
#intro > p {
    /* margin-left: auto;
    margin-right: auto; */
    text-align: left;
    width:60%;
    text-indent: 4ch;
}
.intro-base {
    display: flex;
    flex-direction: column;
    width:50%;
    /* margin-top: 3rem; */
    /* margin-bottom: 1rem; */
}
.intro-base div {
    margin:0 0;
    padding: 0 0 1rem;
}
.intro-base div p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 120%;
    position: relative;
}
/* .intro-base div p:nth-child(1) {
    font-weight: bold; */
/* } */
#into-img {
    max-width: 100%;
    max-height: auto;
}

#skill > div {
    display: flex;
    flex-direction: row;
}

section img {
    /* padding:1rem; */
    /* border:3px solid #555;
    border-radius: 2px; */
    max-width: 100%;
    max-height:auto;
    min-width: 50%;
    min-height: 50%;
}


/* 网页footer部分 */
.page-footer {
    margin-top: 5rem;
    margin-bottom: 0;
}
.page-footer div {
    display:block;
    width: 100%;
    height:3rem;
    border-top: 2px solid rgb(226, 226, 226);
    background-color: rgb(243, 243, 243);
    text-align: center;
}
.page-footer p {
    padding-bottom: 5px;
    text-align: center;
    color: var(--grey-color);
}


/* 通用部分 */
.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding:0 2rem;
    max-width: 75%;
}
.wrapper * {
    text-align: center;
}

.en {
    font-size: 80%;
    font-weight: bold;
    display:block;
    margin-top: 5px;
}

#works-list, #novels-list, #CG-list {
    display: flex;
    flex-direction: row;
    /* flex: 1; */
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    flex-wrap: wrap;
}

#works-list div, #novels-list div, #CG-list div {
    width:23%;
    padding:0 10px;
}
#Link-intro:target, 
#Link-skill:target,
#Link-works:target, 
#Link-novels:target, 
#Link-CG:target, 
#Link-Cont:target {
    padding-top: 325px;
}

